.hero-wraper {
  display: flex;
  place-content: center;
  align-items: center;
  width: 285px;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  transition: 0.6s;
}

.hero-wraper img {
  width: 12rem;
  transition: 0.2s;
}

.hero-wraper:hover {
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;
}

.hero-name {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.hero-wraper:hover img {
  width: 12.1rem;
}

.hero-wraper:hover .hero-name {
  color: red;
  font-weight: 500;
}

@media screen and (max-width: 580px) {
  .hero-wraper {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    padding-top: 1rem;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(224, 224, 224);
  }
  .hero-wraper:hover {
    box-shadow: 0.6px 0.7px 0.6px 1px rgb(198, 198, 198);
  }
  .hero-wraper img {
    width: 14rem;
  }
  .hero-wraper:hover {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .hero-wraper:hover img {
    width: 14rem;
  }
  .hero-wraper:hover .hero-name {
    font-weight: 400;
  }
}
